
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
     margin: 0;
  min-height: 100vh;     
  display: flex;
  flex-direction: column;
    
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

header p {
    margin-top: 10px;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 30px;
}

.services {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.service-card {
    background-color: white;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
}

.service-card img {
    width: 60px;
    margin-bottom: 15px;
}

.service-card h3 {
    margin-bottom: 10px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}


@media (max-width: 700px) {
    .services {
        flex-direction: column;
        align-items: center;
    }
}